rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leer y escribir en toda la base de datos
    // ¡ADVERTENCIA! Esto es inseguro para producción.
    // Lo usaremos solo para desarrollo inicial.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}